* {
  padding: 0;
  margin: 0;
}
/* common shear style font */
* {
  font-family: "Open Sans", sans-serif;
}
/* this is the header style part */
.content {
  display: flex;
  align-items: center;
  background-color: #fceef1;
  justify-content: center;
  padding-top: 40px;
}
.banner-content {
  margin-right: 60px;
}
.banner-title {
  color: #272727;
  width: 400px;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.banner-description {
  width: 370px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 10px;
  line-height: 20px;
  margin-top: 15px;
}
.banner-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: white;
  margin-top: 20px;
}
.banner-img {
  width: 400px;
  height: 480px;
}
/* this main part section style */
.about {
  margin-top: 100px;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}
.section-description {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
  font-style: normal;
}
.section-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}
.img-part {
  width: 200px;
  height: 250px;
  background-size: 100%;
  margin-top: 70px;
}
.img-6 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 290px;
  text-align: center;
  height: 320px;
}
.img-5 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 290px;
  text-align: center;
  height: 320px;
}
.img-7 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 290px;
  text-align: center;
  height: 320px;
}
.flower-title {
  color: #272727;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  margin-top: 5px;
  text-decoration-line: underline;
}

/* my bonus part style */
.about-product {
  margin-top: 130px;
}
.product-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}
.img-part {
  width: 200px;
  height: 250px;
  background-size: 100%;
  margin-top: 70px;
}
.img-1 {
  border-radius: 100%;
  background: rgba(167, 33, 98, 0.15);
  width: 290px;
  text-align: center;
  height: 320px;
}
.img-2 {
  border-radius: 100%;
  background: rgba(5, 151, 160, 0.15);
  width: 290px;
  text-align: center;
  height: 320px;
}
.img-3 {
  border-radius: 100%;
  background: rgba(71, 125, 17, 0.15);
  width: 290px;
  text-align: center;
  height: 320px;
}
.product-title {
  color: #272727;
  margin-top: 5px;
}
.product-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
}
.product-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #77ae52;
  border: 0;
  color: white;
  margin-top: 20px;
  align-items: center;
}
/* support section start style*/
.day-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
}
.support-section {
  width: 900px;
  height: 200px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.support-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.img-group {
  padding-top: 40px;
  width: 55px;
  height: 65px;
}
.day-description {
  color: rgba(39, 39, 39, 0.8);
  font-size: 15px;
  line-height: 35px;
}

/* the hot deal part style*/
.deal-content {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  text-align: center;
  align-items: center;
  margin-top: 80px;
  height: 70vh;
}
.deal-banner-content {
  margin-top: 70px;
  margin-right: 90px;
}
.deal-title {
  color: #272727;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 12px;
}
.deal-span {
  color: #e55473;
}
.deal-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.deal-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: white;
  margin-top: 20px;
  align-items: center;
}
.deal-img {
  width: 215px;
  height: 270px;
}
/* this is the instagram style part */
.instagram-content {
  margin-top: 70px;
}
.instagram-part {
  display: flex;
  justify-content: center;
}
.instagram-section {
  width: 600px;
  height: 300px;
}
.instagram-section-img {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  gap: 15px;
}
.instagram-img {
  width: 215px;
}

/* this is the deals style part */
.deals-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.deals-content {
  background-image: url("image/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 900px;
  height: 300px;
}
.deals-content-part {
  text-align: center;
  padding-top: 75px;
}
.deals-title {
  color: #272727;
  font-size: 25px;
}
.deals-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
.deals-input {
  padding: 10px 35px;
  color: #757575;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  width: 40%;
  margin-right: 5px;
  margin-top: 15px;
}
.deals-btn {
  padding: 10px 20px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: white;
}

/* this is the footer style part */
.footer-column {
  text-align: center;
  height: 35vh;
  background-color: #111010;
  color: white;
  padding-top: 80px;
  margin-top: 60px;
}
.footer-title {
  color: #e55473;
  font-size: 33px;
  font-weight: 800;
  margin-bottom: 12px;
}
.footer-span {
  color: white;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}
.footer-small {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
}
